<button class='btn btn-primary btn-lg' id='theater' ng-click="changeCategoryFilter('theater')" style='width:20%;'>Theater</button>
					<button class='btn btn-success btn-lg' id='talks' ng-click="changeCategoryFilter('talk')" style='width:20%;'>Talks</button>
					<button class='btn btn-warning btn-lg' id='social' ng-click="changeCategoryFilter('social')" style='width:20%;'>Social</button>
					<button class='btn btn-danger btn-lg' id='music' ng-click="changeCategoryFilter('music')" style='width:20%;'>Music</button>
					<button class='btn btn-info btn-lg' id='sports' ng-click="changeCategoryFilter('sport')" style='width:20%;'>Sports</button>