<!doctype html>
<html ng-app="myApp">
	<head>
		
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.js"></script>
    	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
		<script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
		<script type="text/javascript" src="main.js"></script>
		<script src="bower_components/angular-file-dnd/dist/angular-file-dnd.min.js"></script>

		<!--
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<script type="text/javascript" src="angular.min.js"></script>
    	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
		<script type="text/javascript" src="main.js"></script>
		-->
	</head>
	<body>
		<div ng-controller="WomCon">

				<div class='container'>
					<div class="jumbotron" id='header-div'>
						<div style='float:right'>
							<div style='float:right'>
								<button class='btn btn-lg' id='account-button' ng-click="openCreateAccountModal()" ng-show="currentUser.email == ''">New Account!</button>
								<button class='btn btn-lg' id='login-button' ng-click="openLoginModal()" ng-show="currentUser.email == ''">Log In!</button>
								<button class='btn btn-lg' id='id-button' disabled='true' ng-hide="currentUser.email == ''">{{currentUser.email}}</button>
								<button class='btn btn-lg' id='logout-button' ng-click="logout()" ng-hide="currentUser.email == ''">Log Out!</button>
							</div>
							<br>
							<h3 ng-show="currentUser.email == ''">Log in to post an event!</h3>
							<h3 ng-hide="currentUser.email == ''">Click here to post an event!</h3>

							<div style='float:right'>
								<button class='btn btn-lg' id='shout-button' ng-click="openShoutModal()" ng-hide="currentUser.email == ''">Shout!</button>
							</div>
						</div>
						<h1>Word of Mouth</h1>
						<h2>The Premiere College Hill Event Website</h2>
					</div>
				<div>
				<div class='navbar-form container' style='text-align:center'>
					<span class="glyphicon glyphicon-search"></span>
					<input id="search-bar" class="form-control" ng-model="search" placeholder='Search' style='width:50%'/>
				</div>
				<br>
				<div class="btn-group btn-group-justified container" data-toggle="buttons">
				  <label class="btn btn-purple btn-lg" ng-click="toggleFilter('arts')" style='width:20%;color:WHITE;'>
				    <input type="checkbox">Arts
				  </label>
				  <label class="btn btn-blue btn-lg" ng-click="toggleFilter('causes')" style='width:20%;color:WHITE;'>
				    <input type="checkbox">Causes
				  </label>
				  <label class="btn btn-red btn-lg" ng-click="toggleFilter('social')" style='width:20%;color:WHITE;'>
				    <input type="checkbox">Social
				  </label>
				  <label class="btn btn-green btn-lg" ng-click="toggleFilter('sports')" style='width:20%;color:WHITE;'>
				    <input type="checkbox">Sports
				  </label>
				  <label class="btn btn-orange btn-lg" ng-click="toggleFilter('talks')" style='width:20%;color:WHITE;'>
				    <input type="checkbox">Talks
				  </label>
				</div>

				<div id='events-div'>
					<h1>Today</h1>

					<div class="row">
						<div class="col-xs-6 col-md-3 repeat-fade col" ng-repeat="event in events | filter:search | filter:myFilter(event) | orderBy:date track by $index">
					    	<div class="thumbnail" ng-mouseenter="showOverlay(event)" ng-mouseleave="hideOverlay(event)" ng-click="openEventModal(event)">
					    		<a class="thumbnail inner-thumbnail" href='#'>
					    			<img src="{{event.imageLocation}}"/>
					    		</a>
					    		<div class="thumbnail inner-thumbnail event-overlay col-xs-12 col-md-12 show-fade" ng-show="event.overlay">
					    			<div class="event-details"> 
						    			<span class="event-details-name">{{event.name}}</span>
	                					<span class="event-details-date">{{event.date}}</span>
	                					<span class="event-details-location">{{event.location}}</span>
	                					<span class="event-details-info">(Click for more details)</span>
	                				</div>
                				</div>
								<div ng-repeat="category in event.categories" style='border-style:solid;border-width:1px;border-color:WHITE;background-color:{{categoryColors[category]}}; width:100%; height:8px;'/>
					    	</div>
						</div>
					</div>
				</div>
			</div>

			<script type="text/ng-template" id="eventContent.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
						<!-- VIEW MODE -->
						<div class="view-mode" ng-hide="editMode">
					        <div class="modal-header">
					            <h3>{{event.name}}</h3>
					        </div>
					        <div class="modal-body" style='display:inline-block'>
					        	<div style='float:left;'>
						        	<img width='300px' height='300px' src="{{event.imageLocation}}"/>
					        	</div>
					        	<div style='overflow:hidden;'>
						            <p><h3>{{event.description}}</h3></p>
						            <p><h3>{{event.location}}</h3></p>
						            <p><h3>{{event.date.getMonth()}}-{{event.date.getDate()}}-{{event.date.getFullYear()}} at {{event.time.getHours()}}:{{event.time.getMinutes()}}</h3></p>
					            </div>
					        	<div class="clear"></div>
				            </div>
					        <div>
								<div ng-repeat="category in event.categories" style='border-style:solid;border-width:1px;border-color:WHITE;background-color:{{categoryColors[category]}}; width:100%; height:8px;'>
								</div>
					        </div>
					        <div class="modal-footer">
						        <a href="http://example.com/link-to-your-event" title="Add to Calendar" class="addthisevent">
								    Add to Calendar
								    <span class="_start" id='_start'>{{event.date.getMonth()+1}}-{{event.date.getDate()}}-{{event.date.getFullYear()}} {{event.time.getHours()}}:{{event.time.getMinutes()}}</span>
								    <span class="_end" id='_end'>{{event.date.getMonth()+1}}-{{event.date.getDate()}}-{{event.date.getFullYear()}} {{event.time.getHours()+2}}:{{event.time.getMinutes()}}</span>
								    <span class="_zonecode">15</span>
								    <span class="_summary" id='_name'>{{event.name}}</span>
								    <span class="_description" id='_description'>{{event.description}}</span>
								    <span class="_location" id='_location'>{{event.location}}</span>
								    <span class="_date_format">DD/MM/YYYY</span>
								</a>
					        	<button class="btn btn-warning" ng-click="enterEditMode()" ng-show="event.owner == currentUser.email">Edit My Event</button>
					            <button class="btn btn-primary" ng-click="close()">Close</button>
					        </div>
						</div>
						<!-- EDITMODE -->
						<div class="edit-mode" ng-show="editMode">
							<div class="modal-header">
					            <h3><p>Event Name &nbsp;<input type="event.name" ng-model='editedEvent.name'></p></h3>
					        </div>
					        <div class="modal-body" style='display:inline-block'>
					        	<div style='float:left; padding-right:40px'>
					        		<button class='btn btn-warning' ng-click="clearImage()" style="float: right;" ng-show="editedEvent.imageLocation">Clear Image</button>
					        		<p>
	        				            <div class="dropzone show-fade" file-dropzone="[image/png, image/jpeg, image/gif]" file="editedEvent.imageLocation" file-name="imageFileName" data-max-file-size="3" ng-hide="editedEvent.imageLocation">
	        				                <span>Drop Image Here</span>
	        				            </div>
	        				            <div class="thumbnail image-container show-fade" ng-show="editedEvent.imageLocation">
	        			                	<img width="200px" height="200px" ng-src={{editedEvent.imageLocation}} />
	        				                <span class="file-name">{{imageFileName}}</span>
	        				            </div>
	        				        </p>
					        		<p>
						        		Date
									    <div class="well well-small" ng-model="editedEvent.date" style="display:inline-block;">
									        <datepicker show-weeks="false"></datepicker>
									    </div>
								    </p>
								</div>
								<div style='overflow:hidden'>
									Description<textarea type="event.description" class="form-control" rows="4" ng-model='editedEvent.description'></textarea><br>
									Location<textarea type="event.location" class="form-control" rows="1" ng-model='editedEvent.location'></textarea><br>

								    <p>
									    Time
								        <div ng-model="editedEvent.time" ng-model="editedEvent.time" class="well well-small" style="display:inline-block;">
										    <timepicker hour-step="1" minute-step="1"></timepicker>
										</div>
									</p>
									<div class="alert alert-warning show-fade" ng-show="tooFewCategories">You must select at least 1 category.</div>
									<div class="alert alert-danger show-fade" ng-show="tooManyCategories">Select a maximum of 2 categories.</div>
									<p>Categories (choose 1 or 2)</p>
									<div class="btn-group btn-group-justified container" data-toggle="buttons">
									  <label class="btn btn-purple btn-sm" ng-click="toggle('arts')" style='width:20%;color:WHITE;'>
									    <input type="checkbox">Arts
									  </label>
									  <label class="btn btn-blue btn-sm" ng-click="toggle('causes')" style='width:20%;color:WHITE;'>
									    <input type="checkbox">Causes
									  </label>
									  <label class="btn btn-red btn-sm" ng-click="toggle('social')" style='width:20%;color:WHITE;'>
									    <input type="checkbox">Social
									  </label>
									  <label class="btn btn-green btn-sm" ng-click="toggle('sports')" style='width:20%;color:WHITE;'>
									    <input type="checkbox">Sports
									  </label>
									  <label class="btn btn-orange btn-sm" ng-click="toggle('talks')" style='width:20%;color:WHITE;'>
									    <input type="checkbox">Talks
									  </label>
									</div>
								</div>
								<div class='clear'></div>
					        <div class="modal-footer">
					       		<button class="btn btn-warning" ng-click="cancelEdits()">Cancel</button>
					        	<button class="btn btn-danger" ng-click="submitEdits()">Update Event</button>
					        </div>
						</div>
					</div>
				</div>
		    </script>
		    <script type="text/ng-template" id="shoutContent.html">
		    	<div class="modal-dialog">
		    		<div class="modal-content">
				    	<div class="modal-header">
				            <h3><p>Event Name &nbsp;<input ng-model='editedEvent.name'></p></h3>
				        </div>
				        <div class="modal-body" style='display:inline-block'>
				        	<div style='float:left; padding-right:40px'>
				        		<button class='btn btn-warning' ng-click="clearImage()" style="float: right;" ng-show="editedEvent.imageLocation">Clear Image</button>
				        		<p>
						            <div class="dropzone show-fade" file-dropzone="[image/png, image/jpeg, image/gif]" file="editedEvent.imageLocation" file-name="imageFileName" data-max-file-size="3" ng-hide="editedEvent.imageLocation">
						                <span>Drop Image Here</span>
						            </div>
						            <div class="thumbnail image-container show-fade" ng-show="editedEvent.imageLocation">
					                	<img width="200px" height="200px" ng-src={{editedEvent.imageLocation}} />
						                <span class="file-name">{{imageFileName}}</span>
						            </div>
						        </p>
				        		<p>
					        		Date
								    <div class="well well-small" ng-model="editedEvent.date" style="display:inline-block;">
								        <datepicker show-weeks="false"></datepicker>
								    </div>
							    </p>
							</div>
							<div style='overflow:hidden'>
								Description<textarea class="form-control" rows="4" ng-model='editedEvent.description'></textarea><br>
								Location<textarea class="form-control" rows="1" ng-model='editedEvent.location'></textarea><br>

							    <p>
								    Time
							        <div ng-model="editedEvent.time" ng-model="editedEvent.time" class="well well-small" style="display:inline-block;">
									    <timepicker hour-step="1" minute-step="1"></timepicker>
									</div>
								</p>
								<div class="alert alert-warning show-fade" ng-show="tooFewCategories">You must select at least 1 category.</div>
								<div class="alert alert-danger show-fade" ng-show="tooManyCategories">Select a maximum of 2 categories.</div>
								<p>Categories (choose 1 or 2)</p>
								<div class="btn-group btn-group-justified container" data-toggle="buttons">
								  <label class="btn btn-purple btn-sm" ng-click="toggle('arts')" style='width:20%;color:WHITE;'>
								    <input type="checkbox">Arts
								  </label>
								  <label class="btn btn-blue btn-sm" ng-click="toggle('causes')" style='width:20%;color:WHITE;'>
								    <input type="checkbox">Causes
								  </label>
								  <label class="btn btn-red btn-sm" ng-click="toggle('social')" style='width:20%;color:WHITE;'>
								    <input type="checkbox">Social
								  </label>
								  <label class="btn btn-green btn-sm" ng-click="toggle('sports')" style='width:20%;color:WHITE;'>
								    <input type="checkbox">Sports
								  </label>
								  <label class="btn btn-orange btn-sm" ng-click="toggle('talks')" style='width:20%;color:WHITE;'>
								    <input type="checkbox">Talks
								  </label>
								</div>
							</div>
							<div class='clear'></div>
				        <div class="modal-footer">
				       		<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				        	<button class="btn btn-danger" ng-click="submit()">Submit</button>
				        </div>
				    </div>
			    </div>
		    </script>
		    <script type="text/ng-template" id="createAccount.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
						    <div class="col-lg-12">
						      <div class="input-group">
						        <input type="text" class="form-control" placeholder='Email' ng-model='user.email'>
						        <div class="input-group-btn">
						          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{emailAction}}<span class="caret"></span></button>
						          <ul class="dropdown-menu pull-right">
						            <li><a href="#" ng-click='emailAction = "@brown.edu"'>@brown.edu</a></li>
						            <li><a href="#" ng-click='emailAction = "@risd.edu"'>@risd.edu</a></li>
						          </ul>
						        </div>
						      </div>
						    </div>
						    <br><br>
						    <div class="col-lg-12 col-md-12">
						      <div class="input-group wide-password">
						        <input class="form-control" type='password' placeholder='Password' ng-model='user.password'>
						      </div>
						    </div>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">Submit</button>
				            <button class="btn btn-warning" ng-click="close()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>
		    <script type="text/ng-template" id="login.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
						    <div class="col-lg-12">
						      <div class="input-group">
						        <input type="text" class="form-control" placeholder='Email' ng-model='user.email'>
						        <div class="input-group-btn">
						          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">{{emailAction}}<span class="caret"></span></button>
						          <ul class="dropdown-menu pull-right">
						            <li><a href="#" ng-click='emailAction = "@brown.edu"'>@brown.edu</a></li>
						            <li><a href="#" ng-click='emailAction = "@risd.edu"'>@risd.edu</a></li>
						          </ul>
						        </div>
						      </div>
						    </div>
						    <br><br>
						    <div class="col-lg-12 col-md-12">
						      <div class="input-group wide-password">
						        <input class="form-control" type='password' placeholder='Password' ng-model='user.password'>
						      </div>
						    </div>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">Submit</button>
				            <button class="btn btn-warning" ng-click="close()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>
		</div>


		<!--
		<h2>Todo</h2>
		<div ng-controller="TodoCtrl">
			<span>{{remaining()}} of {{todos.length}} remaining</span>
				[ <a href="" ng-click="archive()">archive</a> ]
				<ul class="unstyled">
					<li ng-repeat="todo in todos">
						<input type="checkbox" ng-model="todo.done">
						<span class="done-{{todo.done}}">{{todo.text}}</span>
					</li>
				</ul>
				<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText"  size="30"
				   placeholder="add new todo here">
				<input class="btn-primary" type="submit" value="add">
			</form>
		</div>
		<div ng-controller="ModalDemoCtrl">
		    <script type="text/ng-template" id="myModalContent.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
				            <ul>
				                <li ng-repeat="item in items">
				                    <a ng-click="selected.item = item">{{ item }}</a>
				                </li>
				            </ul>
				            Selected: <b>{{ selected.item }}</b>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">OK</button>
				            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>

		    <button class="btn" ng-click="open()">Open me!</button>
		    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
		</div>
		!-->
	</body>
</html>