
.viewEventModal {
  display: block;
  width:80%;
  height:100%;
  left:10%;
  min-width:500px;
}
.newAccountModal {
  display: block;
  width:25%;
  height:100%;
  left:30%;
  min-width:500px;
}
.loginModal {
  display: block;
  width:25%;
  height:100%;
  left:30%;
  min-width:500px;
}
.shoutModal {
  display: block;
  width:80%;
  height:100%;
  left:10%;
  min-width:500px;
}
.modal-dialog {
  width:100%;
  min-width:500px;
}
.modal-body:before, .modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before, .modal-header:after {
  display: table;
  content: " ";
}

.inner-thumbnail {
	padding: 0px;
	margin: 0px;
}

.wide-password {
  width:100%;
}

.event-overlay {
	background: none repeat scroll 0 0 #000;
    top: 1%;
    left: 6%;
    height: 87%;
    width: 88%;
    position: absolute;
}

.event-details {
  text-align: center;
}

.event-details-name,.event-details-date,.event-details-location,
.event-details-info {
  color: #fff;
  font-size: 14px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
}

.event-details-name {
  font-size: 20px;
  margin-top: 25%;
}

.event-details-date {
  margin-top: 8%;
}

.event-details-location{
  margin-top: 5%;
}

.event-details-info {
  margin-left:auto;
  margin-right:auto;
  width:100%;
  position:absolute;
  padding-top: 10%;
  font-size:12px;
}

.event-view-description, .event-view-date, .event-view-location {
  margin-right: 8%;
}

.event-view-description {

}

.event-view-date {

}

.event-view-location {

}

.repeat-fade.ng-enter,
.repeat-fade.ng-leave {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
}

.repeat-fade.ng-enter,
.repeat-fade.ng-leave.ng-leave-active {
  opacity:0;
}
.repeat-fade.ng-leave,
.repeat-fade.ng-enter.ng-enter-active {
  opacity:1;
}

.show-fade {
  -webkit-transition:0.15s linear all;
  transition:0.15s linear all;
  opacity:0.8;
}

.show-fade.ng-hide {
  opacity:0;
}

.show-fade.ng-hide-add, .show-fade.ng-hide-remove {
  /* this needs to be here to make it visible during the animation
     since the .ng-hide class is already on the element rendering
     it as hidden. */
  display:block!important;
}

.dropzone {
  width: 250px;
  height: 45px;
  border: 2px solid #ccc;
  text-align: center;
  padding: 30px;
  margin: 20px;
  font-family: Arial;
}

.image-container {
    width: 200px;
    height: 200px;
}

.image-container img {
   max-width: 100%;   
}

.clear { 
  clear:both; 
}

.btn-blue {
  background-color: #85C9E4;
  border-color: #85C9E4;
}
.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active {
  background-color: #5E8EA1;
  border-color: #5bb7db;
}
.btn-blue.disabled:hover,
.btn-blue.disabled:focus,
.btn-blue.disabled:active,
.btn-blue.disabled.active,
.btn-blue[disabled]:hover,
.btn-blue[disabled]:focus,
.btn-blue[disabled]:active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue:hover,
fieldset[disabled] .btn-blue:focus,
fieldset[disabled] .btn-blue:active,
fieldset[disabled] .btn-blue.active {
  background-color: #85C9E4;
  border-color: #85C9E4;
}

.btn-yellow {
  background-color: #FAF675;
  border-color: #FAF675;
}
.btn-yellow:hover,
.btn-yellow:focus,
.btn-yellow:active,
.btn-yellow.active {
  background-color: #A3A04C;
  border-color: #f8f344;
}
.btn-yellow.disabled:hover,
.btn-yellow.disabled:focus,
.btn-yellow.disabled:active,
.btn-yellow.disabled.active,
.btn-yellow[disabled]:hover,
.btn-yellow[disabled]:focus,
.btn-yellow[disabled]:active,
.btn-yellow[disabled].active,
fieldset[disabled] .btn-yellow:hover,
fieldset[disabled] .btn-yellow:focus,
fieldset[disabled] .btn-yellow:active,
fieldset[disabled] .btn-yellow.active {
  background-color: #FAF675;
  border-color: #FAF675;
}

.btn-red {
  background-color: #EB6967;
  border-color: #EB6967;
}
.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active {
  background-color:#9E4746;
  border-color: #e53d3a;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled]:hover,
.btn-red[disabled]:focus,
.btn-red[disabled]:active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red:hover,
fieldset[disabled] .btn-red:focus,
fieldset[disabled] .btn-red:active,
fieldset[disabled] .btn-red.active {
  background-color: #EB6967;
  border-color: #EB6967;
}

.btn-orange {
  background-color: #F7A359;
  border-color: #F7A359;
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active {
  background-color: #AD723E;
  border-color: #f58828;
}
.btn-orange.disabled:hover,
.btn-orange.disabled:focus,
.btn-orange.disabled:active,
.btn-orange.disabled.active,
.btn-orange[disabled]:hover,
.btn-orange[disabled]:focus,
.btn-orange[disabled]:active,
.btn-orange[disabled].active,
fieldset[disabled] .btn-orange:hover,
fieldset[disabled] .btn-orange:focus,
fieldset[disabled] .btn-orange:active,
fieldset[disabled] .btn-orange.active {
  background-color: #F7A359;
  border-color: #F7A359;
}

.btn-green {
  background-color: #B4D967;
  border-color: #C1E86E;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active {
  background-color: #85A14C;
  border-color: #aee142;
}
.btn-green.disabled:hover,
.btn-green.disabled:focus,
.btn-green.disabled:active,
.btn-green.disabled.active,
.btn-green[disabled]:hover,
.btn-green[disabled]:focus,
.btn-green[disabled]:active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green:hover,
fieldset[disabled] .btn-green:focus,
fieldset[disabled] .btn-green:active,
fieldset[disabled] .btn-green.active {
  background-color: #C1E86E;
  border-color: #C1E86E;
}

.btn-purple {
  background-color: #AEA2FA;
  border-color: #AEA2FA;
}
.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active {
  background-color: #7E75B5;
  border-color: #8472f7;
}
.btn-purple.disabled:hover,
.btn-purple.disabled:focus,
.btn-purple.disabled:active,
.btn-purple.disabled.active,
.btn-purple[disabled]:hover,
.btn-purple[disabled]:focus,
.btn-purple[disabled]:active,
.btn-purple[disabled].active,
fieldset[disabled] .btn-purple:hover,
fieldset[disabled] .btn-purple:focus,
fieldset[disabled] .btn-purple:active,
fieldset[disabled] .btn-purple.active {
  background-color: #AEA2FA;
  border-color: #AEA2FA;
}


