.modal {
  display: block;
  width:1000px;
  height:700px;
  left:600px;
}
.modal-body:before, .modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before, .modal-header:after {
  display: table;
  content: " ";
}

.event-modal {

}

.event-content {

}

.event-header, .event-body, .event-footer {
	
}