.modal {
  display: block;
  width:1000px;
  height:700px;
  left:600px;
}
.modal-body:before, .modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before, .modal-header:after {
  display: table;
  content: " ";
}

.inner-thumbnail {
	padding:0px;
	margin: 0px;
}

.event-overlay {
	background: none repeat scroll 0 0 #000;
    opacity: 0.7;
    top:0;
    left:0;
    position: absolute;
}

.event-modal {

}

.event-content {

}

.event-header, .event-body, .event-footer {
	
}