<!doctype html>
<html ng-app="myApp">
	<head>
		
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
    	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
		<script type="text/javascript" src="http://js.addthisevent.com/atemay.js"></script>
		<script type="text/javascript" src="main.js"></script>

		<!--
		<link href="bootstrap.min.css" rel="stylesheet">
		<link href="main.css" rel="stylesheet">
		<script type="text/javascript" src="angular.min.js"></script>
    	<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.7.0.js"></script>
		<script type="text/javascript" src="main.js"></script>
		-->
	</head>
	<body>
		<div ng-controller="WomCon">

				<div class='container'>
					<div class="jumbotron" id='header-div'>
						<h1>Word of Mouth</h1>
						<h2>Click here to post an event</h2>
						<button class='btn btn-lg' id='shout-button' ng-click="openShoutModal()">Shout!</button>
						<button class='btn btn-lg' id='account-button' ng-click="openCreateAccountModal()">New Account!</button>
						<button class='btn btn-lg' id='login-button' ng-click="openLoginModal()">Log In!</button>
					</div>
				<div>
				<div class='navbar-form container'>
					<span class="glyphicon glyphicon-search"></span>
					<input id="search-bar" class="form-control" ng-model="searchFilter" placeholder='Search' style='width:75%'/>
				</div>
				<br>
				<div class='btn-group btn-group-justified container' id='sort-buttons-div'>
					<button class='btn btn-primary btn-lg' id='theater' ng-click="changeCategoryFilter('theater')" style='width:20%;'>Theater</button>
					<button class='btn btn-success btn-lg' id='talks' ng-click="changeCategoryFilter('talk')" style='width:20%;'>Talks</button>
					<button class='btn btn-warning btn-lg' id='social' ng-click="changeCategoryFilter('social')" style='width:20%;'>Social</button>
					<button class='btn btn-danger btn-lg' id='music' ng-click="changeCategoryFilter('music')" style='width:20%;'>Music</button>
					<button class='btn btn-info btn-lg' id='sports' ng-click="changeCategoryFilter('sport')" style='width:20%;'>Sports</button>
				</div>

				<div id='events-div'>
					<h1>Today</h1>

					<div class="row">
						<div class="col-xs-6 col-md-3" ng-repeat="event in events | filter:categoryFilter | filter:searchFilter track by $index">
					    	<div class="thumbnail" ng-mouseenter="showOverlay($index)" ng-mouseleave="hideOverlay($index)" ng-click="openEventModal($index)"  ng-animate="{enter: 'animate-enter'}">
					    		<a class="thumbnail inner-thumbnail" href='#'>
					    			<img src="{{event.imageLocation}}"/>
					    		</a>
					    		<div class="thumbnail inner-thumbnail event-overlay col-xs-12 col-md-12" style='height:100%;' ng-show="event.overlay" ng-animate="{show:'animate-show', hide:'animate-hide'}">
					    			<h3>{{event.name}}</h3>
                					<p>Lorem ipsum dolor sit amet</p>
                					<p>{{event.date}}</p>
                					<p>{{event.location}}</p>
                				</div>
								<div ng-repeat="category in event.categories" style='background-color:{{category}}; width:100%; height:5px;'/>
					    	</div>
						</div>
					</div>
				</div>
			</div>

			<script type="text/ng-template" id="eventContent.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
						<!-- VIEW MODE -->
						<div class="view-mode" ng-hide="editMode">
					        <div class="modal-header">
					            <h3>{{event.name}}</h3>
					        </div>
					        <div class="modal-body">
					        	<img src="{{event.imageLocation}}"/>
					            <p>{{event.date}}</p>
					            <p>{{event.location}}</p>
					            <p>{{event.description}}</p>
					        </div>
					        <div class="modal-footer">
						        <a href="http://example.com/link-to-your-event" title="Add to Calendar" class="addthisevent">
								    Add to Calendar
								    <span class="_start" id='_start'>{{event.date}}</span>
								    <span class="_end" id='_end'>11-05-2012 11:38:46</span>
								    <span class="_zonecode">15</span>
								    <span class="_summary" id='_name'>{{event.name}}</span>
								    <span class="_description" id='_description'>{{event.description}}</span>
								    <span class="_location" id='_location'>{{event.location}}</span>
								    <span class="_date_format">DD/MM/YYYY</span>
								</a>
					        	<button class="btn btn-warning" ng-click="enterEditMode()" ng-show="{event.owner == currentUser.email}">Edit My Event</button>
					            <button class="btn btn-primary" ng-click="close()">Close</button>
					        </div>
						</div>
						<!-- EDITMODE -->
						<div class="edit-mode" ng-show="editMode">
							<div class="modal-header">
					            <h3><p>Name:<input type="event.name" ng-model='editedEvent.name'></p></h3>
					        </div>
					        <div class="modal-body">
				            	<p>Date:<input ng-model='editedEvent.date'></p>
				           		<p>Location<input ng-model='editedEvent.location'></p>
					        </div>
					        <div class="modal-footer">
					       		<button class="btn btn-primary" ng-click="cancelEdits()">Cancel</button>
					        	<button class="btn btn-warning" ng-click="submitEdits()">Update Event</button>
					        </div>
						</div>
					</div>
				</div>
		    </script>
		    <script type="text/ng-template" id="shoutContent.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
				            <p>Name:<input ng-model='newEvent.name'></p>
				            <p>Date:<input ng-model='newEvent.date'></p>
				            <p>Location<input ng-model='newEvent.location'></p>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">OK</button>
				            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>
		    <script type="text/ng-template" id="createAccount.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
				            Email:<input ng-model='user.email'>
				            Password:<input ng-model='user.password'>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">Submit</button>
				            <button class="btn btn-warning" ng-click="close()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>
		    <script type="text/ng-template" id="login.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
				            Email:<input ng-model='user.email'>
				            Password:<input ng-model='user.password'>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">Submit</button>
				            <button class="btn btn-warning" ng-click="close()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>
		</div>


		<!--
		<h2>Todo</h2>
		<div ng-controller="TodoCtrl">
			<span>{{remaining()}} of {{todos.length}} remaining</span>
				[ <a href="" ng-click="archive()">archive</a> ]
				<ul class="unstyled">
					<li ng-repeat="todo in todos">
						<input type="checkbox" ng-model="todo.done">
						<span class="done-{{todo.done}}">{{todo.text}}</span>
					</li>
				</ul>
				<form ng-submit="addTodo()">
				<input type="text" ng-model="todoText"  size="30"
				   placeholder="add new todo here">
				<input class="btn-primary" type="submit" value="add">
			</form>
		</div>
		<div ng-controller="ModalDemoCtrl">
		    <script type="text/ng-template" id="myModalContent.html">
		    	<div class="modal-dialog">
					<div class="modal-content">
				        <div class="modal-header">
				            <h3>Im a modal!</h3>
				        </div>
				        <div class="modal-body">
				            <ul>
				                <li ng-repeat="item in items">
				                    <a ng-click="selected.item = item">{{ item }}</a>
				                </li>
				            </ul>
				            Selected: <b>{{ selected.item }}</b>
				        </div>
				        <div class="modal-footer">
				            <button class="btn btn-primary" ng-click="ok()">OK</button>
				            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
				        </div>
					</div>
				</div>
		    </script>

		    <button class="btn" ng-click="open()">Open me!</button>
		    <div ng-show="selected">Selection from a modal: {{ selected }}</div>
		</div>
		!-->
	</body>
</html>